{% extends 'base.html.twig' %}
{% block title %}Create a bonus{% endblock %}

{% block body %}
    <div class="simple-block">
        <h2>Create a bonus</h2>
        {{ form_start(bonus_form, {'attr': {'novalidate': true}}) }}
        <div class="form-input-block"><p>Name</p>{{ form_widget(bonus_form.name) }}</div>
        <div class="form-error">{{ form_errors(bonus_form.name) }}</div>
        <div class="form-select-block"><p>Type</p>{{ form_widget(bonus_form.type) }}</div>
        <div class="form-error">{{ form_errors(bonus_form.type) }}</div>
        <div class="form-submit-block">{{ form_widget(bonus_form.save, {'label': 'Save a bonus', 'attr': {'class': 'action-link'}}) }}</div>
        <div class="form-separator-block">
            or
        </div>
        <div>
            <a class="action-link" href="{{ path('app_bonus_list') }}">Back to list</a>
        </div>
        {{ form_end(bonus_form) }}
    </div>
{% endblock %}
