{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="simple-block info-block">
        <a class="action-link small-action-link" href="{{ path('app_client_create') }}">Create a client</a>
        <a class="action-link small-action-link" href="{{ path('app_bonus_list') }}">Bonuses</a>
    </div>

    {% for flashItems in app.flashes %}
        {% for message in flashItems %}
            <div class="simple-block">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="simple-block">

        {% if clients %}
            <h2>Clients</h2>
            {{ _self.clientsTable(clients, false) }}
        {% else %}
            <b>Clients not found</b>
        {% endif %}
    </div>
{% endblock %}

{% macro clientsTable(clients, showAssignee) %}
    <table class="simple-table">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Actions</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.email }} {% if client.isEmailVerified %}(verified){% endif %}</td>
                <td>{{ client.birthday.format('d.m.Y') }}</td>
                <td>
                    <a class="action-link small-action-link" href="{{ path('app_client_delete', {'client': client.id}) }}">
                        Delete
                    </a>
                    {% if not client.isEmailVerified %}
                        <a class="action-link small-action-link" href="{{ path('app_client_verify_email', {'client': client.id}) }}">
                            Verify an email
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
